.sidebarContainer {
  border-right: 2px solid #989898;
  height: 100vh;
  width: fit-content;
  padding: 8px 10px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContent,
.sidebaritemsMenu {
  width: 85%;
}

.logoContent {
  margin-bottom: 39px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 8px;
  height: 100px;
}

.logoContent img {
  width: 90px;
}

.logoContent h5 {
  color: var(--dark-green);
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  white-space: nowrap;
}

.logoContent h5 > span {
  color: var(--light-green);
}

.sidebaritemsMenu {
  list-style: none;
  color: var(--dark-green);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 0;
}

.sidebaritemsMenu li {
  padding: 6px 8px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.sidebaritemsMenu li > span {
  font-size: 35px;
}

.sidebaritemsMenu li.active {
  background-color: var(--dark-green);
  color: var(--light-color);
}
