.bandsContainer {
  width: 100%;
  height: 100vh;
}

.bands {
  width: 100%;
  height: 100%;
  padding: 4px;
}

.inputs {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}
