.carouselContainer {
  min-height: 200px;
  cursor: grab;
}

.carouselContainer ul li {
  height: auto;
  cursor: grab;
}

.carouselContainer ul li img {
  height: auto;
  width: 100%;
}

.carouselItem {
  width: 280px;
  height: 280px;
  padding: 30px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.selected {
  border: 3px solid var(--dark-green);
  height: auto;
  width: auto;
  display: block;
  border-radius: 4px;
}
