main{
    height: 100vh;
}

main header{
    height: calc(100% - 170px);
    background-color: var(--light-dark-green);
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}